@import url('http://fonts.cdnfonts.com/css/netflix-font');

:root {
    --body-font-size: 12pt;
    --body-font-family: 'Roboto Mono', sans-serif;
    --background-color: #d3d3d3;
    --secondary-color: #3d7c85;
    --tetiary-color: #000000;

}

body {
    font-family: var(--body-font-family);
    letter-spacing: 1px;
    font-size: 11pt;
    background-color: var(--background-color);
}


table {
    font-family:  'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}
 
 td, th {
    border: 1px solid var(--tetiary-color);
    text-align: left;
    padding: 5px;
    line-height: 25px;
    font-size: large;
}
 
 tr:nth-child(even) {
 background-color: var(--secondary-color);
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}
.container {
    display: inline-block;
    width: 1000px;
    border: 1px solid var(--background-color);

     
}
* {
    padding: auto;
    margin: auto;
    text-align: center;
}

p {
    padding-bottom: 6px;
}